.pretty-scrollbar {
	/* firefox 스크롤바의 색상을 지정합니다. */
	scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
	/* firefox 스크롤바의 두께를 지정합니다. */
	scrollbar-width: auto;
}
.pretty-scrollbar::-webkit-scrollbar {
	width: 6px; /* 세로축 스크롤바의 두께 */
	height: 6px; /* 가로축 스크롤바의 높이 */
}
.pretty-scrollbar::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바의 트랙 색상 */
}
.pretty-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 3px; /* 스크롤바의 손잡이 모양 */
	background-color: rgba(0, 0, 0, 0.2); /* 스크롤바의 손잡이 색상 */
}
.pretty-scrollbar::-webkit-scrollbar-button {
	display: none; /* 스크롤바의 버튼을 숨김 */
}

/* extra */
.container {
	max-width: 600px;
	overflow-x: scroll;
	display: flex;
	gap: 20px;
	/* 데스크톱 브라우저에서 부드러운 스크롤 */
	scroll-behavior: smooth;
}
